.main {
  padding: var(--space-6);
  width: 100%;
  background: var(--bg);
}

.article + .article {
  margin-top: var(--space-8);
}

.article__title {
  margin: 0 0 var(--space-3);
  font-size: 1.5rem;
}

.article__text {
  margin: 0 0 var(--space-6);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  text-indent: 1.5em;
}

.main__list {
  padding: var(--space-2) var(--space-6);
}

.main__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--space-4);
  border: 1px solid var(--border);
}

.main__th,
.main__td {
  padding: var(--space-3) var(--space-4);
  text-align: left;
  border-bottom: 1px solid var(--border);
}
