@media (min-width: 640px){
  .layout{
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  } 

  .footer__inner {
    grid-template-columns: 1fr minmax(220px, 1fr);
  }

  .footer__text{order: initial;}
}

@media (min-width:1024px){
  .layout {
    grid-template-columns: 280px 1fr;
  } 

  .footer__inner {
    grid-template-columns: 1fr minmax(280px, 1fr);
  }
}
